<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dev jobs</title>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>

  <body>
    <div class="nav-container">
      <div id="logo">
        <h1><a href="../Template/index.html">devjobs</a></h1>
      </div>
      <div class="theme-switcher">dark mode</div>
    </div>
    <div class="company-detail-container"></div>
    <div class="company-info-container"></div>
    <div class="footer"></div>
    <script src="../js/detailView.js"></script>
  </body>
</html>
