<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev jobs</title>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>

  <body>
    <div class="nav-container">
      <div id="logo">
        <h1><a href="../Template/index.html">devjobs</a></h1>
      </div>
      <div class="theme-switcher">dark mode</div>
    </div>
    <div class="container">
      <div class="search-section">
        <input
          type="text"
          placeholder="Enter job desc..."
          class="search-input"
        />
        <i class="fa fa-search search-icon" style="font-size: 30px"></i>
      </div>
      <div class="modal">
        <div class="filter">
          <i class="fas fa-map-marker-alt" style="font-size: 30px"></i>
          <input
            type="text"
            class="filter-input"
            placeholder="Filter by location..."
          />
          <hr />
        </div>
        <div class="full-time">
          <input type="checkbox" name="" class="fulltime-checkbox" />
          <label for="" id="fulltime">Full Time only</label>
        </div>
        <button class="search-button">Search</button>
      </div>
      <br />
    </div>
    <div class="job_container"></div>
    <script src="../js/base.js"></script>
  </body>
</html>
